<div class="wrapper" >
<div class="container">
	<div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1 id="defaultColor">Welcome to University Kofi Annan</h1>
              <h1 id="defaultColor">Learning Management System</h1>
        </div>
        <div class="col-md-6 col-md-offset-3">
            <div class="alert alert-danger" ng-show="vm.authenticationError">
                <strong>Failed to sign in!</strong> Please check your credentials and try again.
            </div>
        </div>
        <div class="col-md-6 col-md-offset-3">
            <form class="form" role="form" ng-submit="vm.login($event)">
                <div class="form-group">
                    <label id="loginlabelcolor" for="username">Login</label>
                    <input type="text" class="form-control" id="username" placeholder="Your username" ng-model="vm.username">
                </div>
                <div class="form-group">
                    <label id="loginlabelcolor" for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Your password"
                           ng-model="vm.password">
                </div>
                <div class="form-group">
                    <label id="loginlabelcolor" for="rememberMe">
                        <input type="checkbox" id="rememberMe" ng-model="vm.rememberMe" checked>
                        <span>Remember me</span>
                    </label>
                </div>
                <button type="submit" class="btn btn-primary">Sign in</button>
            </form>
            <p></p>
            <div class="alert alert-warning">
                <a class="alert-link" href="" ng-click="vm.requestResetPassword()">Did you forget your password?</a>
            </div>
            <!-- <div class="alert alert-warning">
                You don't have an account yet? <a class="alert-link" href="" ng-click="vm.register()">Register a new account</a>
            </div> -->
        </div>                	
	</div>
</div>
<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
</ul>

</div>