<form name="passwordForm" ng-submit="vm.changePassword(vm.user.login)">
	<div class="modal-header">
		<h4>Password for <b>{{vm.user.login}}</b></h4>
		
     <div class="alert alert-danger" ng-show="vm.error" >
         <strong>An error has occurred!</strong> The password could not be changed.
     </div>

     <div class="alert alert-danger" ng-show="vm.doNotMatch">
         The password and its confirmation do not match!
     </div>
	</div>
	
	<div class="modal-body">
		<div class="form-group">
			<label class="control-label" for="password">New password</label>
			<input type="password" class="form-control" id="password" name="password" placeholder="New password" ng-model="vm.password" ng-minlength=4 ng-maxlength=50 required>
			<div ng-show="form.password.$dirty && form.password.$invalid">
				<p class="help-block" ng-show="form.password.$error.required">
					password is required
				</p>
				<p class="help-block" ng-show="form.password.$error.minlength">
					password is required to be at least 4 characters.
				</p>
				<p class="help-block" ng-show="form.password.$error.maxlength">
					password cannot be longer than 50 characters.
				</p>
			</div>
			<password-strength-bar password-to-check="vm.password"></password-strength-bar>
		</div>
		<div class="form-group">
			<label class="control-label" for="confirmPassword">New password confirmation</label>
			<input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm the new password" ng-model="vm.confirmPassword" ng-minlength=4 ng-maxlength=50 required>
			<div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
				<p class="help-block" ng-show="form.confirmPassword.$error.required">
					confirmation password is required.
				</p>
				<p class="help-block" ng-show="form.confirmPassword.$error.minlength">
					confirmation password is required to be at least 4 characters.
				</p>
				<p class="help-block" ng-show="form.confirmPassword.$error.maxlength">
					confirmation password cannot be longer than 50 characters.
				</p>
			</div>
		</div>
		
	</div>
	
	<div class="modal-footer">
     <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
         <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
     </button>
     <button type="submit" class="btn btn-danger">
         <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span>Reset Password</span>
     </button>	
	</div>
</form>